main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 640px;
    max-width: 100%;
    height: 100%;
}

.stepper_steps {
    position: relative;
    overflow: hidden;
    .step {
        display: none;
        &--current {
            display: flex;
        }
    }
}
.stepper_pagination {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    .step {
        &__page {
            font-size: 18px;
            line-height: 18px;
            padding: 5px 10px;
            border: 2px dashed #05a4c8;
            border-radius: 100%;
            background-color: #000;
            color: #05a4c8;
            &--current {
                font-weight: 600;
                background-color: #000;
                color: #f4a460;
                border: 2px dashed #f4a460;
            }
        }
    }
}
